<h1>Edit booking details</h1>

<div class="page-wrapper ">
  <div class="card form-container edit-form">
    <%= simple_form_for([@life, @booking]) do |f| %>
	    <%= f.input :start_date, as: :date %>
      <%= f.input :end_date, as: :date %>
      <div class="d-flex justify-content-between">
        <%= f.submit "Edit booking", class: "btn btn-warning",  style:"border-radius: 8px; width: 30" %>
      </div>
      <div class="btn btn-danger mt-3" style="border-radius: 8px; width: 30">
        <%= link_to "Delete booking", life_booking_path(@life, @booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, style:"color: white; text-decoration: none;" %>
      </div>
    <% end %>
  </div>
</div>
