<h1>Lives#edit</h1>
<p>Find me in app/views/lives/edit.html.erb</p>

<%= life = "life title goes here"%>



<div class="container border">

  <form class="" action="<%= life_path(1)%>" method="patch">
    <div class="row">

    <div class="col-5 mb-3">
      <label class="form-label" for="title">title:</label>
      <textarea class="form-control" name="title">
        <%= title = "title"%>
      </textarea>
    </div>

    <div class="col-5 mb-3">
    <label class="form-label" for="description">description:</label>
    <textarea class="form-control" name="description">
      <%= life_desc = "life description in here waiting to be edited"%>
    </textarea>
    </div>

    <div class="col-5 mb-3">
    <label class="form-label" for="address">address:</label>
    <textarea class="form-control" name="address" style="width:300; height:50px;" >
      <%= address = "address"%>
    </textarea><!-- fill in for  --->
    </div>

    <div class="col-5 mb-3">
    <label class="form-label" for="price_per_day">price per day</label>
    <input class="form-control" type="number" name="price_per_day" min="0"/>
    </div>

    <div>
      <label class="form-label" for="status">status</label>
      <select class="form-select" name="status"></select>
    </div>
    </div>
    <input class="btn btn-primary" type="submit" value="submit"/>
  </form>
</div>
