<h1>Edit <%= @life.title %></h1>

<div class="page-wrapper">
  <div class="card form-container">
    <%= simple_form_for(@life) do |f| %>
	    <%= f.input :title %>
      <%= f.input :description_long %>
      <%= f.input :description_short %>
      <%= f.input :address %>
      <%= f.input :price_per_day %>
      <%= f.input :status %>
      <%= f.input :images, as: :file, input_html: { multiple: true } %>
      <div class="d-flex justify-content-between">
        <%= f.submit "Update Life", class: "btn btn-primary" %>
       <%= link_to "Delete Life", life_path(@life),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this life?" },
            class: "btn btn-danger" %>

      </div>
    <% end %>
  </div>
</div>
