<h1>Become a host! Create a new life</h1>

<div class="page-wrapper">
  <div class="form-container edit-form ">
    <%= simple_form_for(@life) do |f| %>
	    <%= f.input :title %>
      <%= f.input :description_short %>
      <%= f.input :description_long %>
      <%= f.input :address %>
      <%= f.input :price_per_day %>
      <%= f.submit "Create Life", class: "btn btn-primary", style: "border-radius: 8px; width: 150px;" %>
    <% end %>
  </div>
</div>
