<h1>Become a host! Create a new life</h1>

<div class="page-wrapper">
  <div class="card form-container">
    <%= simple_form_for(@life) do |f| %>
	    <%= f.input :title %>
      <%= f.input :description_long %>
      <%= f.input :address %>
      <%= f.input :price_per_day %>
	    <%= f.submit %>
    <% end %>
  </div>
</div>
