<h1>Lives#show</h1>
<p>Find me in app/views/lives/show.html.erb</p>
<p>title: <%= @life.title%></p>
<p>description: <%= @life.description%></p>
<p>price_per_day: <%= @life.price_per_day%></p>
<p>status: <%= @life.status%></p>


<Form action=<%= life_path(params[:id])%> method="delete">
<input type="submit" value="delete_life" class="btn btn-danger">
<form>
