<img class="card-img-top" src="<%= @life.photo_url %>" alt="<%= @life.title %> image">
<div class="mt-5">
  <h3>Reviews</h3>

  <% if @reviews.any? %>
    <% @reviews.each do |review| %>
      <div class="card mb-3 p-3 shadow-sm">
        <strong><%= review.user.email %></strong>
        <span class="text-muted">rated it <%= review.rating %>/5</span>
        <p><%= review.comment %></p>
      </div>
    <% end %>
  <% else %>
    <p>No reviews yet for this life.</p>
  <% end %>
</div>

<!--countinue-->
<div class="card-body">
  <h5 class="card-title"><%= @life.title %></h5>
  ...
</div>
