<!DOCTYPE html>
<html>
  <head>
    <title>New Life</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render "shared/flashes" %>

    <div class="navbar-container flex-shrink-0">
      <%= render "shared/navbar" %>
    </div>

    <div class="central-container flex-grow-1 d-flex">
      <%= yield %>
    </div>

    <div class="footer-container flex-shrink-0">
      <%= render "shared/footer" %>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</html>
